@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: rgb(226, 226, 226);
}

input {
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #4320df;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Bangers", cursive;
  color: #4320df;
}

* {
  box-sizing: border-box;
}
